body {
  background-color: lightsteelblue;
  font-family: "Poppins", sans-serif;
}

.header-container {
  text-align: center;
  padding: 0.5vh;
  color: #2c305d;
  letter-spacing: 0.08em;
  font-size: 1.5em;
}

/*---------------------- Add coins ----------------------*/
.subheader-container {
  color: #2c305c;
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 0.05em;
  padding-top: 1vh;
}

.info-container-form {
  margin: 0 auto;
  width: 30%;
  overflow: hidden;
  background-color: #e9edf0;
  color: #2c305c;
  padding-bottom: 1%;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.info-container-form #userForm h2 {
  font-size: 2em;
  background-color: #2c305c;
  color: white;
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-bottom: 1vh;
  letter-spacing: 0.05em;
}

#userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-group {
  display: flex;
  align-items: center;
}

input {
  border: none;
  padding: 0.3vw;
  border-radius: 5px;
  margin-left: 0.5vw;
}

label {
  width: 150px;
  margin-right: 10px;
  text-align: right;
}

#savebutton {
  border-radius: 30px;
  border: none;
  background-color: blueviolet;
  color: #e9edf0;
  font-size: large;
  padding: 8px 15px;
  transition: 0.3s;
  margin-top: 2.5vh;
}

#savebutton:hover {
  background-color: green;
}

#errorMessage {
    color: red;
    display: none;
    margin-top: 1vh;
    font-size: 0.8em;
}

/*---------------------- Current Portfolio ----------------------*/
.info-container-table {
  margin: 0 auto;
  width: 60%;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  background-color: #e9edf0;
  margin-top: 5vh;
}

.info-container-table h2 {
  font-size: 2em;
  text-align: center;
  background-color: #2c305d;
  color: white;
  margin: 0;
  padding-top: 1vh;
  padding-bottom: 1vh;
  letter-spacing: 0.05em;
}

.info-container-table #table {
  background-color: #e9edf0;
  color: #1c1c1e;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

th {
  color: #2c305d;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

tr:nth-child(even) {
  background-color: #babfce;
  color: #1c1c1e;
}

td {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
}

.bwt {
  background-color: blueviolet;
  color: white;
  padding: 6px 18px;
  border-radius: 30px;
  cursor: pointer;
  background-clip: padding-box;
  transition: 0.3s;
}

.bwt:hover {
  background-color: red;
}
